.product-container:hover>.buttons>button:nth-child(2), .product-container:hover>.buttons>button:last-child {
    animation: slideToLeft 2s ease forwards; 
}

.product-container:hover>.buttons>button:nth-child(2) {
    animation-delay: 200ms;
}

.product-container:hover>.buttons>button:last-child {
    animation-delay: 400ms;
}

@keyframes slideToLeft {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}